dist: xenial
branches:
  only:
    - master
    
language: cpp

matrix:
  include:
    - os: linux
      env: COMPILER_NAME=gcc CXX=g++-5 CC=gcc-5
      addons:
        apt:
          packages:
            - g++-5
          sources: &sources
            - ubuntu-toolchain-r-test
  
before_install:
  - sudo apt-get purge cmake
  - sudo apt-get update -qq
  
install:
  - sudo apt-get install cmake -y
  - cmake --version
  - g++ --version
  
before_script:
  - mkdir build
  - cd build

script:
 - cmake ..
 - make && ./sparc_test
 
cache:
  - apt
