dist: xenial
branches:
  only:
    - master

language: cpp

compiler:
  - gcc
  
before_install:
  - sudo apt-get purge cmake
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo apt-get update -q
  
install:
  - sudo apt-get install g++-5 -y
  - sudo apt-get install cmake -y
  - cmake --version
  
before_script:
  - mkdir build
  - cd build

script:
 - cmake ..
 - make && ./sparc_test
 
cache:
  - apt
