branches:
  only:
    - master

language: cpp

compiler:
  - gcc
  
before_install:
  - sudo add-apt-repository ppa:george-edison55/cmake-3.x -y
  - sudo apt-get update -q
  
install:
  - sudo apt-get install cmake -y
  
before_script:
  - mkdir build
  - cd build

script:
 - cmake ..
 - make && ./sparc_test
 
 cache:
  - apt
