dist: xenial
branches:
  only:
    - master
    
language: cpp

before_install:
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - sudo sh -c 'echo "deb http://apt.postgresql.org/pub/repos/apt/ `lsb_release -cs`-pgdg main" >> /etc/apt/sources.list.d/pgdg.list'
  - wget -q https://www.postgresql.org/media/keys/ACCC4CF8.asc -O - | sudo apt-key add -
  - sudo apt-get purge cmake
  - sudo apt-get update -qq
  
install:
  - sudo apt-get -y install gcc-6
  - sudo apt-get -y install g++-6
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-6 60 --slave /usr/bin/g++ g++ /usr/bin/g++-6
  - sudo apt-get -y install libpq-dev postgresql-9.5 postgresql-server-dev-9.6 openssl libssl-dev
  - wget https://cmake.org/files/v3.7/cmake-3.7.2.tar.gz
  - pushd cmake-3.7.2/
  - ./configure
  - make -j4
  - sudo make install
  - popd
  - find /usr/ -name libpq-fe.h
  - cmake --version
  - g++ --version
  - psql --version
  
before_script:
  - mkdir build
  - cd build

script:
 - cmake .. -DSPARC_PQ_V96=ON -DPostgreSQL_ROOT=/usr/include/postgresql/
 - make && ./sparc_test
 
cache:
  - apt
